
body {
  font-family: Tahoma, Verdana, "Deja Vu", Arial, Sans-Serif;
  font-size: 30px;
  margin: 0;
  color: #3E4759;
  overflow: hidden; 
}

header {
  background-color: #323d58;
  padding: 30px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

section {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.notification {
  color: #555;
  background-color: #FCF5CC;
  background-image: url(notification.png);
  padding: 16px 10px 16px 70px;
  background-repeat: no-repeat;
  background-position: 20px center;
  margin: 30px 10%;
}

.success {
  color: #425C2F;
  background-color: #D6F0C9;
  background-image: url(success.png);
  padding: 16px 10px 16px 70px;
  background-repeat: no-repeat;
  background-position: 20px center;
  margin: 30px 10%;
}

.error {
  color: #E63232;
  background-color: #F7D7D7;
  background-image: url(error.png);
  padding: 16px 10px 16px 70px;
  background-repeat: no-repeat;
  background-position: 20px center;
  margin: 30px 10%;
}
