
body {
  font-family: "Segoe UI", Tahoma, Verdana, "Deja Vu", Arial, Sans-Serif;
  font-size: 30px;
  margin: 0;
  color: #3E4759;
  overflow: hidden; 
}

header {
  background-color: #323d58;
  padding: 50px;
  color: #fff;
}

section {
  margin: 10px auto 0 auto;
  text-align: center;
}

#wrapper {
  height: 100px;
}

.notification {
  color: #555;
  background-color: #FCF5CC;
  padding: 30px 50px;
}

.success {
  color: #425C2F;
  background-color: #D6F0C9;
  padding: 30px 50px;
}

.error {
  color: #E63232;
  background-color: #F7D7D7;
  padding: 30px 50px;
}

