<?php

define('sshHostname', 'authserv.upmc.fr');
define('sshUsername', 'admin');
define('sshPassword', 'password');

define('ldapHostname', 'ldap.upmc.fr');
define('ldapPort', 389);
define('ldapSearchDn', 'ou=People,dc=upmc,dc=fr');
define('ldapAuthUser', 'uid=kioskauth,ou=Machines,dc=upmc,dc=fr');
define('ldapAuthPassword', 'password');
